﻿@model MyNotes.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Rachunek</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AccNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccOpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccOpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccActive)
        </dd>

    </dl>
</div>
<p>
  @*@Html.ActionLink("Edit", "Edit", new { id = Model.AccId }) |*@
    @Html.ActionLink("Powrót do listy", "Index")
</p>
