﻿@model IEnumerable<MyNotes.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Rachunki</h2>

<p>
    @Html.ActionLink("UTWÓRZ NOWY RACHUNEK - 100 ZŁOTYCH NA START!", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccOpenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccBalance)
            PLN
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccOpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccActive)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.AccId }) |*@
            @Html.ActionLink("Szczegóły", "Details", new { id=item.AccId }) 
         @*   @Html.ActionLink("Delete", "Delete", new { id=item.AccId })*@
        </td>
    </tr>
}

</table>
