﻿@model MyNotes.Models.Deposit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccOpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccOpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepSourceAccNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepSourceAccNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
