﻿@model MyNotes.Models.Deposit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccOpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccOpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepSourceAccNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepSourceAccNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
