﻿@model IEnumerable<MyNotes.Models.Deposit>
   
    

@{
    ViewBag.Title = "Index";
 
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.AccActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccOpenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccCloseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepSourceAccNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccOpenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccCloseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepSourceAccNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccId })
        </td>
    </tr>
}

</table>
