﻿@{
    ViewBag.Title = "O tej stronie";
}
<h2>2016 Projekt na .NET </h2>
<h3>Krótki opis</h3>

<p>Aplikacja robiona na zaliczenie projektu z .Net.</p>
<p>Póki co znajdują się w niej tylko podstawowe funkcjonalności, jednak aplikacja będzie rozwijana - bo mi się kiedyś przyda</p>
