﻿@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>
<h3>To jest kontakt</h3>
<p><img src="http://www.kkskrakersy.pl/images/kontakt.jpg" alt="Kontakt"></p>



<address>
    <strong>I mój mail:</strong> <a href="mailto:mail.robert.malz@gmail.com">mail.robert.malz@gmail.com</a>
</address>