﻿@model IEnumerable<MyNotes.Models.Note>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Turbo Aplikacja</h1>
    <p class="lead">To jest miejsce, w którym kiedyś zrobię fajną grafikę</p>
    <p>W aplikacji zostały wykorzystane wszystkie wymagane w notatniku punkty. Cześć w formie frameworku część ręcznie.</p>
    <p>Jednak jeżeli czegoś by brakowało dajcie info, mail w kontakcie</p>
</div>

<div class="row">
    @{
        if (User.Identity.IsAuthenticated)
        {
            if (Model.Any())
            {
                <div class="col-md-4">
                    <h2>Pierwszy Feature</h2>
                    <p>
                        Uwaga masz aktualne notatki z wysokim priorytetem.
                    </p>
                    <p>
                        <a class="btn btn-default" href="@Url.Action("Index", "Notes")">Wyświetl je &raquo;</a>
                    </p>
                </div>
            }
            else
            {

                <div class="col-md-4">
                    <h2>Pierwszy Feature</h2>
                    <p>
                        Nie masz żadnych notatek z wysokim priorytetem.
                    </p>
                    <p>
                        <a class="btn btn-default" href="@Url.Action("Index", "Notes")">Pokaż notatki &raquo;</a>
                    </p>
                </div>
            }
        }
        else
        {
            <div class="col-md-4">
                <h2>Pierwszy Feature</h2>
                <p>
                    Nie jesteś zalogowany. </p>
                <p>
                    <a class="btn btn-default" href="@Url.Action("Login", "Account")">Zaloguj się &raquo;</a>
                </p>
            </div>

        }


    }
    <div class="col-md-4">
        <h2>TODO1</h2>
        <p>Some stuff todo</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TODO2</h2>
        <p>More stuff todo</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>