﻿@model IEnumerable<MyNotes.Models.Note>

@{
    ViewBag.Title = "Lista spraw";
}

<h2>Sprawy do załatwienia</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
           
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @*  @Html.HiddenFor(modelItem => item.Completed) *@
                @Html.CheckBoxFor(model => item.Completed)

            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Szczegóły", "Details", new {id = item.Id}) |
                @Html.ActionLink("Usuń", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Dodaj nowy wpis", "Create")
</p>
